@model SistemaWebAlumnos.Models.Alumno

<div class="text-center mt-3">
    <h3>¿Deseas eliminar el siguiente Alumno?</h3>
    <div class="mt-3">
        <h4>Alumno</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DNI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DNI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions">
        <button type="submit" value="Delete" class="btn btn-info text-light"> Eliminar </button>
        
    </div>
        }
        <button type="button" class="btn btn-info  my-4">
            <a class="text-light" @Html.ActionLink("Back to List", "Index")</a>
        </button>
    </div>
</div>
